.row.row-cols-1.row-cols-md-3.row-cols-lg-4
  - @cart_items.each do |cart_item|
    .col.mb-5.text-decoration-none
      .card-body
        %h3.h5.card-title= cart_item.item.name
        %p=cart_item.quantity
        %p=price_with_tax(cart_item.item)
        = link_to '削除', cart_item_path(cart_item), data: { turbo_method: :delete }, class: 'btn btn-outline-danger'

.row
  = total_price_with_tax(@cart_items)
