-# TODO:リンクを変える
= link_to 'カートに追加', root_path, class: 'btn btn-primary'

.row.mt-4
  .col-md-6
    %h2.mt-2
      = @item.name
    .mt-2
      = t('items.price_with_tax', price: number_to_currency(@item.price_with_tax, unit: "¥", precision: 0))
    .mt-2
      = @item.description
