%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid.justify-content-between
    %a.navbar-brand
      管理者画面：さくらマーケット
    = button_to 'ログアウト', destroy_admin_session_path, class: 'btn btn-outline-danger', method: :delete
