%nav.navbar.navbar-expand-lg.navbar-light.bg-danger-subtle
  .container-fluid.justify-content-between
    %a.navbar-brand
      = link_to 'ユーザー情報', edit_user_registration_path, class: 'text-decoration-none'
    %a.navbar-brand
      さくらマーケット
    - if user_signed_in?
      = button_to 'ログアウト', destroy_admin_session_path, class: 'btn btn-outline-danger', method: :delete
    - else
      = link_to 'ログイン', new_user_session_path, class: 'btn btn-primary'
